.carousel {
    padding-top: 81px;
    min-height: 725px;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background: #ffffff;
        img {
            width: 100%;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
}