.consultation {
    min-height: 475px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;
    &__header {
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        align-items: flex-end;
        text-align: center;
        color: #0D0D0D;
    }
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        width: 940px;
    }
    &__icon {
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &_header {
            text-align: center;
            margin-top: 35px;
            font-weight: bold;
            font-size: 18px;
            align-items: flex-end;
            color: #0D0D0D;
        }
        &_subheader {
            margin-top: 20px;
            width: 270px;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            align-items: flex-end;
            text-align: center;
            color: #0D0D0D;
            a {
                font-size: 14px;
                line-height: 18px;
                align-items: flex-end;
                text-align: center;
                text-decoration-line: underline;
                color: #FF0000;
                &:hover {
                    text-decoration-line: none;
                    transition: all .4s;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .consultation {
        &__icons {
            width: 768px;
        }
        &__icon {
            &_header {
                font-size: 15px;
            }
            &_subheader {
                font-size: 9px;
                width: 270px;
                a {
                    font-size: 9px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .consultation {
        &__icons {
            width: 760px;
        }
        &__icon {
            &_header {
                font-size: 15px;
            }
            &_subheader {
                font-size: 9px;
                width: 150px;
                a {
                    font-size: 9px;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .consultation {
        &__header {
            font-size: 20px;
        }
        &__icons {
            width: 320px;
        }
        &__icon {
            &_header {
                font-size: 10px;
            }
            &_subheader {
                font-size: 7px;
                width: 100px;
                a {
                    font-size: 7px;
                }
            }
        }
    }
}