.reviews {
    min-height: 970px;
    &__wrapper {
        margin: 60px 0 48px 0;
    }
    &__item {
        display: flex;
        margin-bottom: 60px;
        img {
            width: 169px;
            height: 169px;
        }
        &-text {
            margin-left: 61px;
        }
        &-title {
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            align-items: flex-end;
            color: #0D0D0D;
        }
        &-subtitle {
            margin-top: 4px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            align-items: flex-end;
            color: #646464;
        }
        &-descr {
            margin-top: 11px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            align-items: flex-end;
            color: #0D0D0D;
        }
    }
}

@media (max-width: 1200px) {
    .reviews {
        .container {
            max-width: 768px;
        }
    }
}